/*
    MAIN SCSS FILE
    
*/

//BODY 
body {
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

//Top navigation
@import './common/topnav.scss';


/*
    HOME PAGE
*/
//hero section
@import './home/hero.scss';

//mission section
@import './home/mission.scss';


//primary section
@import './home/primary.scss';